@model Product

<form method="post bg-white ">
    <div class="border p-4 mt-5 shadow-sm bg-white rounded">
        <div class="row pb-2">
            <div class="col">
                <div class="bg-primary text-white text-center p-3 rounded">
                    <h1 class="mb-0">Delete Product</h1>
                </div>
                <hr />
            </div>
        </div>

        <!-- To Show all errors summary -->
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <!-- Product Name Input -->
        <div class="mb-4 row">
            <label asp-for="Title" class="col-sm-3 col-form-label fw-bold"></label>
            <div class="col-sm-9">
                <input asp-for="Title" class="form-control" disabled />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <!-- Display Order Input -->
        <div class="mb-4 row">
            <label asp-for="Description" class="col-sm-3 col-form-label fw-bold"></label>
            <div class="col-sm-9">
                <input asp-for="Description" class="form-control" disabled />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row">
            <label asp-for="Author" class="col-sm-3 col-form-label fw-bold"></label>
            <div class="col-sm-9">
                <input asp-for="Author" class="form-control" disabled />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row">
            <label asp-for="ISBN" class="col-sm-3 col-form-label fw-bold"></label>
            <div class="col-sm-9">
                <input asp-for="ISBN" class="form-control" disabled />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row">
            <label asp-for="ListPrice" class="col-sm-3 col-form-label fw-bold"></label>
            <div class="col-sm-9">
                <input asp-for="ListPrice" class="form-control" disabled />
                <span asp-validation-for="ListPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row">
            <label asp-for="Price" class="col-sm-3 col-form-label fw-bold"></label>
            <div class="col-sm-9">
                <input asp-for="Price" class="form-control" disabled />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row">
            <label asp-for="Price50" class="col-sm-3 col-form-label fw-bold"></label>
            <div class="col-sm-9">
                <input asp-for="Price50" class="form-control" disabled />
                <span asp-validation-for="Price50" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row">
            <label asp-for="Price100" class="col-sm-3 col-form-label fw-bold"></label>
            <div class="col-sm-9">
                <input asp-for="Price100" class="form-control" disabled />
                <span asp-validation-for="Price100" class="text-danger"></span>
            </div>
        </div>

        <!-- Buttons -->
        <div class="row">
            <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-primary w-100">Delete</button>
            </div>
            <div class="col-12 col-md-3 mt-2 mt-md-0">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary w-100">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>